@model MediArch.Models.AnswerViewModels.AnswerCreateModel;

@{
    ViewData["Title"] = "CreateNew";
}
@{
    var qid = TempData["QId"];
    var uid = TempData["UId"];
    var qtxt = TempData["QText"];
}

<h2>CreateNew</h2>

<h4>Answer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <!-- <label asp-for="UserId" class="control-label" type="hidden"></label> -->
                <input asp-for="UserId" class="form-control" value="@uid" type="hidden" />
                <!-- <span asp-validation-for="UserId" class="text-danger" type="hidden"></span> -->
            </div>
            <div class="form-group">
                <!-- <label asp-for="QuestionId" class="control-label" type="hidden"></label> -->
                <input asp-for="QuestionId" class="form-control" value="@qid" type="hidden" />
                <!-- <span asp-validation-for="QuestionId" class="text-danger" type="hidden"></span> -->
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" value="@qtxt" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <!--<a asp-action="Index">Back to List</a>-->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
