
@{
    ViewData["Title"] = "InactiveAccount";
}
<div class="General_remake">
    <br />
    <h2>InactiveAccount</h2>
    <hr />
    <p>Your account is set to Inactive for now!</p>
    <p>We think that there are some suspicious activities on your account.</p>
    <p>Until we figure out what caused this, you won't be able to access your account.</p>
    <p>You will be notified via E-mail when you will be able to Log In agian.</p>
    <br />
    <p>We apologize for any inconvenience we have created.</p>
</div>

