@{
    ViewData["Title"] = "About";
}
<div class="About_remake">
    
    <img src="~/images/Logo.png" class="logo_landscape">
    <h2>About us:</h2>
    <br />
    <p><b class="Big_Info">MediArch</b>(abbreviation from <b class="Big_Info">Medical Archive</b>) is a Web Application founded in 2018, representing the Bachelor Degree Final Project of a wonderful student, named George-Cosmin Moroșanu(belonging to the B3 Group, 2015-2018 series), from Faculty of Computer Science, University "Alexandru-Ioan Cuza" of Iași.</p>
    <p>The idea of this Website came when George was searching for a result from a 2 years old consultation he had. He searched, and searched, and searched again. Of course, he couldn't find that result.</p>
    <p>In that moment, he realized that everyday, many people encounter similar problems.</p>
    <p>Since that day, he decided that it's time to make something good for everybody, and he started to build HIS EMPIRE!</p>
    <p>More (relevant) information coming soon...</p>
</div>
