@model Data.Domain.Interfaces.ServiceInterfaces.Models.MedicineViewModels.MedicineCreateModel

@{
    ViewData["Title"] = "Medicine - Create";
}
<div class="General_remake">
    <h2>@ViewData["Title"]</h2>

    <hr />

    <div class="row_login">
        <div class="Login_labels">
            <form multiple="multiple" runat="server" enctype="multipart/form-data" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <b>Name:</b>
                    <div class="Centered">
                        <textarea asp-for="Name" class="textarea_remake" required = "required"></textarea>
                    </div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b>Prospect:</b>
                    <div class="Centered">
                        <textarea asp-for="Prospect" class="textarea_remake" required = "required"></textarea>
                    </div>
                    <span asp-validation-for="Prospect" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b>Files:</b>
                    <input type="file" multiple="multiple" asp-for="File" class="input_remake" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="button_remake" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <center>
            <a asp-action="Index">Back to List</a>
        </center>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
